version: "1"
services:
  cache:
    image: redis
    ports:
      - 6379:6379
    restart: always
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - 5432:5432
    volumes:
      - ./scripts/seed.sql:/docker-entrypoint-initdb.d/seed.sql
  cv:
    build: ./CV
    ports:
      - 8000:8000
    restart: always
    volumes:
      - ./CV:/usr/app/src
      - shared_volume:/usr/app/Datasets
  app:
    build: ./
    ports:
      - "3000:3000"
    depends_on:
      - db
      - cv
      - cache
    env_file:
      - .env
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      JWT_KEY: ${JWT_KEY}
      REDIS_HOST: cache
      REDIS_PORT: ${REDIS_PORT}
      TTL: ${TTL}
    volumes:
      - ./src:/usr/app/src
      - shared_volume:/usr/app/Datasets

volumes:
  shared_volume: